.container {
  height: 3.125rem;

  border-radius: 8px;
  font-weight: 500;
  background: #835afd;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border: 0;

  padding: 0 2rem;

  img {
    margin-right: 0.5rem;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
